*{
    padding: 0px;
    margin: 0px;

}
body{
    overflow-x: hidden;
    padding: 0px;
    margin:  0px;
}

/* font family */

@font-face{

    font-family: air;
    src: url(./font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

.top{
    border-bottom:1px solid #dddd; 
    box-shadow:0 3px 10px rgb(0 0 0 / 0.08); 
 

    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}


.top_one{
     width: auto;
   
   
     transform: translatey(-3px); 
}

.top_one_mar{
 padding: 14px 16px 0px 16px; 




}
.search_text{
    width: 81.82%;
    padding-left: 5px;

    margin-top: 1px;
}
.search_text h2{
    font-family: air;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;

    color: rgb(34, 34, 34);

    width: 81.82%;

    padding-top: 8px;



}


.search_text_any span{
color: rgb(106, 106, 106);
font-size: 12px;
font-weight: 400;
font-family: air;
line-height: 1rem;

}
.search_text_any{
    padding-right: 24px;
display: flex;
column-gap: 5px;
    
}
.top_one_btn{
    display: grid;
    grid-template-columns: 42px 100%;
    height: 54px;
    border-radius: 9999px;

     border:1px solid #dddd; 
      box-shadow:0 3px 10px rgb(0 0 0 / 0.08); 
    


    background-color: rgba(0, 0, 0, 0);

    transform: translatey(3px);
    padding-left: 1px;

    
    
}
.search svg{
    transform: translatey(16px);
    padding-left: 14px;
    padding-top: 1px;
}

/* top_two */

.top_two{
    /* height: 74px; */
    width: 100%;
    
}


.top_two_grid{
    display: grid;
    grid-auto-flow: column;

    overflow-x: scroll;

   
}
.top_two_grid::-webkit-scrollbar {
    display: none;
  }


.top_two_grid{
    padding-left: 24px;
    padding-right: 24px;

}
.icon_box
{
    padding-top: 4px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom:8px ;
    color:  rgb(106, 106, 106);
    width: 88.45px;
    height: 43.75px;

    display: flex;
    flex-direction: column;
    transform: translatey(-3px);
    padding-left: 15px;

    
}
.icon_box span{
    font-size: 12px;
    font-weight: 500;
    font-family: air;
    letter-spacing: normal;
    transform: translatey(-1px);
  
    
}
.icon img{
    opacity: 0.7;
    transform: translatex(30px);
/*  
    width: 24px;
    height: 23.75px; */

padding-top: 1px;

}

/* icon_box_two */
.icon_box_two
{
    padding-top: 4px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom:8px ;
    color:  rgb(106, 106, 106);
    /* width: 64px;
    height: 44px; */

    display: flex;
    flex-direction: column;
    transform: translatey(-3px);

   border-bottom: 2px solid #000;

    
}
.icon_box_two span{
    font-size: 12px;
    font-weight: 500;
    font-family: air;
    letter-spacing: normal;
    transform: translatey(-1px);

 
    color: rgb(0, 0, 0);
    line-height: 16px;
    letter-spacing: 0.10px;
  
    
}
.icon_two img{
    transform: translatex(4px);
 
    /* width: 24px;
    height: 23.75px; */

padding-top: 1px;

}


/*  */


.icon_box_farms
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;
transform: translatey(-3px);




}
.icon_box_farms span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-1px);
padding-left: 16px;


}
.icon_farms img{
opacity: 0.7;
transform: translatex(21px);




padding-top: 1px;

}

/*  */

.icon_box_beach
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;
transform: translatey(-3px);

padding-right: 0px;



}
.icon_box_beach span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-1px);
padding-left: 18px;


}
.icon_beach img{
opacity: 0.7;
transform: translatex(35px);




padding-top: 1px;

}
/*  */
.icon_box_luxe
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;
transform: translatey(-3px);




}
.icon_box_luxe span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-1px);
padding-left: 16px;


}
.icon_luxe img{
opacity: 0.7;
transform: translatex(19px);




padding-top: 1px;

}
/*  */
.icon_box_home
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;


width: 94.17px;
padding-left: 14px;
transform: translateY(-3px);


}
.icon_box_home span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-1px);
/* padding-left: 26px; */

width: auto;


}
.icon_home img{
opacity: 0.7;
transform: translatex(31px);

padding-top: 1px;

}
/*  */
.icon_box_pools
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;
transform: translatex(9px);
width: 83.55px;





}
.icon_box_pools span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-3px);




}
.icon_pools img{
opacity: 0.7;
transform: translatex(31px);




padding-top: 1px;

}
/*  */
.icon_box_tree
{
padding-top: 4px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom:8px ;
color:  rgb(106, 106, 106);

height: 44px;

display: flex;
flex-direction: column;
transform: translateX(6px);





}
.icon_box_tree span{
font-size: 12px;
font-weight: 500;
font-family: air;
letter-spacing: normal;
transform: translatey(-3px);
padding-left: 6px;


}
.icon_tree img{
opacity: 0.7;
transform: translatex(31px);




padding-top: 1px;

}


/* part two */





.photo_mar_pad{
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;

    display: grid;
   

    row-gap: 38px;
}

.photo_box{

    display: flex;
    flex-direction: column;

    
}
.pic{
    display: flex;
    justify-content: flex-end;
}
.pic img{
    
   width: 100%;
   aspect-ratio: 20/19;
   position: relative;
object-fit: cover;
background-position: center;
background-size: cover;

border-radius: 12px;
   
}
.pic{
    margin-bottom: 14px;
   
}




.pic_text h2{
    font-family: air;
    color: rgb(34,34,34);
    font-size: 15px;
    font-weight: 500;
    /* line-height: 19px; */
    transform: translateY(-2px);

    
   


}
.pic_text span{
    color: rgb(106, 106, 106);
    font-size: 15px;
    font-family: air;
    line-height: 19px;


}
.pic_text h3{
    color: rgb(32, 34,34 );
    font-size: 15px;
    font-family: air;
    line-height: 19px;
    font-weight: 500;

    line-height: 22px;/* hh */

  

    
}

    

.click {
   
    position: absolute;
    z-index: 1;

    margin-top: 12px;
    margin-right: 12px;

   

    
   
}
.click button{
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    border: hidden;

    background-color: rgba(253, 250, 250, 0.829);


}


#past h2{
margin-top:50px;
margin-bottom: 24px;
font-family: air;
color:rgb(32, 34,34 );
font-size: 32px;
font-weight: 500;
 line-height: 36px;
 letter-spacing: -0.64px;
 


}
#past{
    padding-left: 24px;

    padding-right: 24px;
   
}



/* after past text(b) */



.photo_mar_pad_b{
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;

    display: grid;

    row-gap: 38px;
}

.photo_box_b{

    display: flex;
    flex-direction: column;

    
}
.pic_b{
    display: flex;
    justify-content: flex-end;
}
.pic_b img{
    
   width: 100%;
   aspect-ratio: 20/19;
   position: relative;
object-fit: cover;

border-radius: 12px;
   
}
.pic_b{
    margin-bottom: 14px;
   
}

.pic_text_b{
    display: grid;
    max-width: 98%;/* hhhhh */

}


.pic_text_b h2{
    font-family: air;
    color: rgb(34,34,34);
    font-size: 15px;
    font-weight: 500;
    /* line-height: 19px; */
    transform: translateY(-2px);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;


  

    
   


}
.pic_text_b span{
    color: rgb(106, 106, 106);
    font-size: 15px;
    font-family: air;
    line-height: 19px;


}
.pic_text_b h3{
    color: rgb(32, 34,34 );
    font-size: 15px;
    font-family: air;
    line-height: 19px;
    font-weight: 500;

    line-height: 23px;/* hh */

  

    
}



    

.click_b {
   
    position: absolute;
    z-index: 1;

    margin-top: 12px;
    margin-right: 12px;

   

    
   
}
.click_b button{
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    border: hidden;

    background-color: rgba(253, 250, 250, 0.829);


}


#past h2{
margin-top:50px;
margin-bottom: 24px;
font-family: air;
color:rgb(32, 34,34 );
font-size: 32px;
font-weight: 500;
 line-height: 36px;
 letter-spacing: -0.64px;
 


}
#past{
    padding-left: 24px;

    padding-right: 24px;
   
}

/* foot_one */

footer{
    background-color: rgb(247, 247, 247);
    


}


 .foot_one{
    padding: 48px 24px 48px 24px;
    border-bottom: 1px solid #dddd;
    box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);

    

}
.insp_text{
    margin-bottom: 8px;
    color: rgb(34,34,34);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.22px;
    line-height: 26px;
    font-family: air;
    transform: translatey(-2px);

    
}
.chart_head{
    padding-left: 12px;
    padding-right: 12px;

    margin-right: -12px;
    margin-left: -12px;

    display: flex;
  

    overflow-x: visible;
    overflow-y: visible;
    
    text-wrap: nowrap;
    column-gap: 1px;

       

   transform: translatey(-3px);  

   border-bottom: 1px solid #dddd;
   box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);
  
    

}
.chart_head ::-webkit-scrollbar{
    display: none;
}
.scroll{
    display: flex;
    overflow-x: scroll;
    
    

    
}



#popular{
    padding: 10px;
    margin: 6px 6px 6px -10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family:air;
    color: rgb(34,34,34);

    border: none;
    background-color: rgb(247, 247, 247);
  transform: translatey(-1px);
    
    

  
    

}
.line{
    border: 1px solid rgb(32, 34,34 );
    transform: translatey(34px);
    
}

#arts{
    padding: 10px;
    margin: 6px 6px 6px 0px;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color:rgb(247, 247, 247);

    padding-left: 10px;
    


}
#outdoor{
    padding: 10px;
    margin: 6px 6px 6px 0px;
    color: rgb(106, 106, 106);
    font-size: 14px;
    font-family: air;
    font-weight: 500;
    border: none;
    background-color: rgb(247, 247, 247);
}
#mount{
    padding: 10px;
    margin: 6px 6px 6px  0px;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color: rgb(247, 247, 247);
}
#beach{
    padding: 10px;
    margin: 6px 6px 6px 0px ;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color: rgb(247, 247, 247);
}
#uni{
    padding: 10px;
    margin: 6px 6px 6px 0px ;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color: rgb(247, 247, 247);
}
#categ{
    padding: 10px;
    margin: 6px 6px 6px 0px ;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color: rgb(247, 247, 247);
}
#things{
    padding: 10px;
    margin: 6px 6px 6px 0px ;
    font-size: 14px;
    font-weight: 500;
    line-height:18px;
    color: rgb(106, 106, 106);

    font-family: air;
    border: none;
    background-color: rgb(247, 247, 247);
}
#arrow{
    border: none;
    background-color: rgb(247, 247, 247);

    transform: translateX(12px);
    padding-top: 2px;


}
.left_right_col{
    padding-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 8px;

    row-gap: 24px;
    
} 



.can_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;

    color: #222222;

}
.can_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);

    
}
.ben_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

    
}
.ben_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
    
    white-space: nowrap; /* imp */


}


.mar_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.mar_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
}

.mij_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.mij_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
}

.pre_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.pre_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
}

.sco_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.sco_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
}


.tuc_box h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.tuc_box span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);
}

.dropdown h2{
    font-size: 14px;
    font-weight: 500;
    font-family: air;
    line-height: 18px;
    color: #222222;

}
.dropdown span{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    transform: translateY(3px);
   
}

/*  */
.can_box{
    display: flex;
    flex-direction: column;
}
.ben_box{
    display: flex;
    flex-direction: column;
    
}

.mar_box{
    display: flex;
    flex-direction: column;
}
.mij_box{
    display: flex;
    flex-direction: column;
}
.pre_box{
    display: flex;
    flex-direction: column;
}
.sco_box{
    display: flex;
    flex-direction: column;
}
.tuc_box{
    display: flex;
    flex-direction: column;
}
.dropdown{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

/* big end box start*/
.big_end_box{
    padding-left: 24px;
    padding-right: 24px;

}
.f_one
{
    padding-top: 24px;
    padding-bottom:25px ;

    border-bottom: 1px solid #dddd;
    box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);
}
.f_one h3{
    margin-bottom: 13px;
    font-family: air;
    font-size: 14px;
    font-weight: 500;
line-height: 18px;
color: rgb(34, 34, 34);

}
.box_new p{
    font-family: air;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
color: rgb(34, 34, 34);

}
.box_new{
display: grid;
grid-template-columns: 1fr;
column-gap: 12px;
row-gap: 14px;

}

/*  */
.f_two
{
    padding-top: 24px;
    padding-bottom:25px ;

    border-bottom: 1px solid #dddd;
    box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);
}
.f_two h3{
    margin-bottom: 12px;
    font-family: air;
    font-size: 14px;
    font-weight: 500;
line-height: 19px;
color: rgb(34, 34, 34);

}
#cng_air{
    margin-bottom: 1px;
}


.box_new_two p{
    font-family: air;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
color: rgb(34, 34, 34);

}
.box_new_two{
display: grid;
grid-template-columns: 1fr;
column-gap: 12px;
row-gap: 14px;


}
/*  */
 .f_three
{
    padding-top: 24px;
    padding-bottom:25px ;

    border-bottom: 1px solid #dddd;
    box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);
}
.f_three h3{
    margin-bottom: 13px;
    font-family: air;
    font-size: 14px;
    font-weight: 500;
line-height: 18px;
color: rgb(34, 34, 34);

} 

.box_new_three p{
    font-family: air;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
color: rgb(34, 34, 34);

}
.box_new_three{
display: grid;
grid-template-columns: 1fr;
column-gap: 12px;
row-gap: 14px;


}

/* copy right */
.copy_right{
    padding-top: 24px;
    padding-bottom: 24px;


    
    border-bottom: 1px solid #dddd;           /* change need */
    box-shadow: 0 3px 10px rgba(245, 243, 243, 0.08);   

    

}
.eng{
    margin-bottom: 22px;
    display: flex;
    font-size: 14px;
    font-family: air;
    line-height: 20.02px;
    font-weight: 500;
    color: rgb(34, 34, 34);
transform: translatey(-1px);
}
.world_eng{
    display: flex;
    margin-right: 24px;
    font-family: 400;
    font-size: 14px;
    font-family:air
}
.world_eng svg{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    padding-top: 2px;

}
.ruppe 

{
     margin-right: 3px;
    
   
}

/* @ */
.copy{
    margin-bottom: 2px;
    
    font-family: air;
    font-size: 14px;
    color: rgb(34, 34, 34);
    line-height: 18px;
    transform: translateY(-1px);

}
.spn_box{
    margin-top: 2px;
   

    line-break: strict;
    text-size-adjust: 100%;
display: flex;
flex-wrap: wrap;/* imp */
column-gap: 8px;

transform: translatey(1px);

}
.spn_box span{
    font-family: air;
    font-size: 14px;
    color: rgb(34, 34, 34);
    line-height: 26px;


}
.new_nav{
    display: none;
}
.bu_ar_box{
    display: none;
}
#ma_arrow{
    display: none;
}
.jas
{
    display: none;
}

/* media 375px */


@media screen and (min-width:375px) {
    .top_one_btn{
        grid-template-columns: 52px 100%;

    }
    .top_one_mar{
        padding: 14px 24px 0px 24px; 
    }
    .search svg{
        transform: translatey(16px);
        padding-left: 6px;
        padding-top: 1px;
        color: rgb(32, 34,34 );
    }
    .new_nav{
        display: none;
    }
    #ma_arrow{
        display: none;
    }
    .jas{
        display: none;
    }
}
/* media 550 */

@media  screen and (min-width:550px) {

.new_nav{
    display: none;
}
.photo_mar_pad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.photo_mar_pad_b{
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 24px;

   
}

.search svg{
    transform: translatey(16px);
    padding-left: 19px;
    padding-top: 1px;
    color: rgb(32, 34,34 );
}

.bu_ar_box{
    display: none;
}
#ma_arrow{
    display: none;
}
.jas{
    display: none;
}
    

}


@media screen and (min-width:744px)
{
    .top_one{
        display: none;
    }



    /* nav */
    .nav_p_one{
        
        padding-left: 40px;
        padding-right: 40px;
      

       display: flex;
       flex-direction: row;
       justify-content: space-between;

       column-gap: 140px;
        
       margin-top:16px
    }
    .new_nav{
        display: block;
        padding-bottom: 32px;
        border-bottom: 1px solid rgb(236, 233, 233);
    }


    .emplo{
        transform: translateY(8px);
        

    }
    .empty{
        padding-left: 24px;
        padding-right: 24px;
        
    }
    
    .right{
        display: flex;
        /* transform: translatex(30px); */
        padding-top: 1px;
        color: rgb(34, 34, 34);

    }
    .air_world{
        margin-right: 8px;
        transform: translateY(2px);
    }

    .air_text h2{
        padding: 12px;
        font-size: 14px;
        font-family: air;
        font-weight: 500;
        line-height: 18px;
        color: rgb(34, 34, 34);
        letter-spacing: normal;
        
    }
    .universe{
        padding: 12px;
        width: 16px;
        height: 18px;
        transform: translatey(1px);

    }
    .profile{
        

    }
    .profile button{
        margin-top: 1px;
        height: 48px;
        padding: 8px 8px 9px 14px;
       

        border: 1px solid rgb(221, 221, 221);
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.08); */
        
        display: flex;
       
background-color:rgb(255, 255, 255);
border-radius: 30px;

transform: translatey(-2px);
    }
    .air_text{
        display: flex;

    }
    .person svg{
        margin-left: 14px;
        transform: translateY(-1px);
        
    }
    .three_line{
        align-self: center;
        color: rgb(34, 34, 34);

    }
    /* nav_p_two */
    .nav_p_two{
        padding-left: 40px;
        padding-right: 40px;

        padding-bottom: 16px;

    }
    .stay_exp{
        display: flex;
        justify-content: center;
        padding-top: 16px;
      
        
    }


    .stay
    {
        margin: 10px 12px 10px 12px;
        color: rgb(34, 34, 34);
        font-family: air;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: normal;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        transform: translatex(-1px);

    }
    .exp{
        margin: 10px 12px 10px 12px;
        color: rgb(106, 106, 106);
        font-size: 16px;
        font-weight: 400;
        font-family: air;
        line-height: 24px;
        letter-spacing: normal;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
  

    /* b */
    .search_big_box{
        /* border: 1px solid rgb(221, 221, 221); */
        border-radius: 32px;
        border: 1px solid #dddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px, rgba(0, 0, 0, 0.08) 0px 1px 2px 0px;
 

        display: flex;
        justify-content: space-between;

        transform: translatey(18px);
        width: 99.73%;

    }

    .where_box_text{
        padding: 14px 32px 14px 32px;
        
    

     

    }
    .where_box{
        /* width: 33.56%; */
        flex: 1;
    }
    .where_box_text h2{
        padding-bottom: 2px;
        color: rgb(34, 34, 34);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: normal;
        font-family: air;
        line-height: 16px;


    }
    .where_box_text h3{

        font-size: 14px;
        font-family: air;
        color: #6a6a6a;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;



         }

  .one_line{
    height: 32px;
    
    border-right: 1px solid rgba(221, 221, 221, 0.87);
    align-self: center;
    padding-right: 2px;/* changed needz */
    
  }       

         .check_in{
            /* width: 50.47%; */
            transform: translatex(px);
            margin-left: 1px;
            
         }
         .check_out{
            /* width: 50.47%; */
            transform: translatex(-2px);
         }
    .check_in_text{
        padding: 14px 24px 14px 24px;
        
    }
    .check_in h2{
        color: rgb(34, 34, 34);
        font-size: 12px;
        font-family: air;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 16px;
        padding-bottom: 2px;

        width: 96.82%;

    }
    .check_in h3{
        color: rgb(106, 106, 106);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;
       font-family: air;
       width: 96.82%;

overflow-x: hidden;
        overflow-y:hidden ; /* dots... */
        text-overflow: ellipsis;
        text-wrap: nowrap;

      
    }
    .one_line_checkin{
        height: 32px;
    
        border-right: 1px solid rgba(221, 221, 221, 0.87);
        align-self: center;
        transform: translatex(-1px);

    }
    .check_out_text{
        padding: 14px 24px 14px 24px;
    }
    .check_out h2{
        padding-bottom: 2px;
        color: rgb(34, 34, 34);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: normal;
        font-family: air;
        line-height: 16px;
        width: 96.82%;

    }
    .check_out h3{
        color: rgb(106, 106, 106);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;
        font-family: air;

        overflow:hidden ; /* dots..2. */
        text-overflow: ellipsis;
        text-wrap: nowrap;
        width: 96.82%;


    }
    /* 3 */
    .who_box_text{
        padding: 14px 24px 14px 24px;


    }
    .who_box{
        /* width: 77.3%; */
        transform: translatex(-1px);

        
    }
    .who_box h2{
        padding-bottom: 2px;
        color: rgb(34, 34, 34);
        font-size: 12px;
        font-family: air;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 16px;
        width: 84.4%;

    }
    .who_box h3{
        color: rgb(106, 106, 106);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 18px;
        font-family: air;

        overflow:hidden ; /* dots..3. */
        text-overflow: ellipsis;
        text-wrap: nowrap;
        width: 84.4%;

    }
    .one_line_who{
        height: 32px;
    
        border-right: 1px solid rgba(221, 221, 221, 0.87);
        align-self: center;
        
    }
    .check_box{
        display: flex;
        justify-content:flex-start;
        /* width:33.24% ; */
        transform: translatex(-1px);
        flex: 1;
    }
    /*  */
    .searchz{
        margin-left: -6px;
     
        background-color: rgb(255, 56, 92);
        border-radius: 100px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translatex(-9px);
       
       
    }
  
    .big_who_search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        /* width:33.87% ; */

        transform: translatex(1px);
        flex: 1;
    }
    /* icon and all */
    .top_two_grid{
        padding-top: 12px;
        padding-left: 40px;
        padding-right: 40px;
        
        column-gap: 32px;
        
    }
    .icon_box_two{
        width: 97%;
        margin-top: 12px;
        margin-bottom: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        row-gap: 4px;
    }
    .icon_box_two span{
        padding-bottom: 7px;
    }
    .icon_two {
        transform: translatex(-1px);
    }
    .icon_two img{
        padding-top: 2px;
    }

    /* pic start */
    .photo_mar_pad{
        margin-top: 3px;
        margin-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .top_two{
        display: flex;
       
    }
    /* arrow */
    .bu_arrow {

        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;
        transform: translatey(-1px);
        
      
      
    }
    .bu_ar_box{
        display: block;
        padding-right: 11px;
        align-self: center;
        
        transform: translatex(15px);
        margin-right: 44px;
    }
    .photo_view
    {
        
        
    }

    /*  */
    .photo_mar_pad_b{
        padding-left: 40px;
        padding-right: 40px;
    }
    #past{
        padding-left: 40px;

    }
    
    #ma_arrow svg{
        
    }
#ex_arrow{
    display: none;
}
#ma_arrow{
    display: block;
    padding-left: 9px; ;
}
   
.forty_chg{
    transform: translatey(-18px);
    
   
}
/* footone */

.foot_one{
    padding-left: 40px;
    padding-right: 40px;
    margin-top:48px;
}

/* jas  extra added*/
.jas{
    display: flex;
    flex-direction: column;
}
.jas p{
    font-size: 14px;
    font-weight: 400;
    font-family: air;
    line-height: 18px;
    color: rgb(106, 106, 106);

    
}
.jas span{
font-size: 14px;
font-weight: 500;
font-family: air;
line-height: 18px;

color: #222222;
}
.big_end_box{
    padding-left: 40px;
    padding-right: 40px;
}
#cng_air{
    margin-bottom:0px ;
}
.top{
    border-bottom: 0px;
    box-shadow: none;
}

.sociel
{
    margin-left: 48px;
  

}
#so_media{
    display: flex;
}

.fbz{
    margin-right: 16px;

}
.twiz{
    margin-right: 16px;
}
.copy_part_one{
    display: flex;
}
#so_media {
    list-style: none;
    color: rgb(32, 34,34 );
}
.copy_right{
    display: flex;
  
    flex-direction: column;
    align-items: center;

    padding-top: 1px;
    padding-bottom: 16px;

    transform: translatey(23px);
}
.copy{
    text-align: center;
}
.eng{
    margin-bottom: 16px;
}
.spn_box{
    margin-top: 0px;
    /* margin-bottom: 80px; */
    transform: translateY(-4px);
    row-gap: 0px;

    
  
}



    
    
}
/* 770 */
@media  screen and (min-width:770px) {
    .check_out{
        
        padding-left: 1px;
    }
    
}
@media  screen and (min-width:775px) {
    .check_out{
        
        padding-left: 2px;
    }
    
}
@media  screen and (min-width:776px) {
    .check_in_text h3{
        
       width: 100.21%;
    }
    .check_out_text h3{
        
        width: 100.21%;
     }
    
}




